[client]
port                    = 3306
socket                  = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket                  = /var/run/mysqld/mysqld.sock
nice                    = 0

[mysqld]
user                    = mysql
pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock
port                    = 3306
basedir                 = /usr
datadir                 = /var/lib/mysql
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
lc-messages		= es_ES

skip-external-locking
bind-address            = 0.0.0.0
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8
myisam-recover-options  = BACKUP
query_cache_limit       = 1M
query_cache_size        = 1024M

# gestion de logs
max_binlog_size         = 100M
expire_logs_days	= 10
general-log		= 1
general-log-file        = /var/log/mysql/mysql.log
slow-query-log		= 1
slow-query-log-file	= /var/log/mysql/mysql-slow.log
long_query_time         = 2

# innodb
innodb_file_per_table	= 1
innodb_buffer_pool_instances = 2 # one per gb
innodb_buffer_pool_size = 2048M
innodb_additional_mem_pool_size = 400M
sort_buffer_size	= 512M
query_cache_type	= 2
tmp_table_size		= 1G

max_connections = 4000
key_buffer_size = 200M
low_priority_updates = 1
sort_buffer_size = 2097152
back_log = 1500

performance_schema = ON


#--------------------------------------------------


[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]

[isamchk]
key_buffer              = 16M
!includedir             /etc/mysql/conf.d/
